
<div style='color: green'><%= notice %></div>

<%= render 'shared/index_header', mode: 'card' %>

<%= render 'shared/filter_form', filter_model: 'Genre' %>

<%= render 'shared/index_records', mode: 'card' %>

<%= link_to translate('base.new_record', model: Genre.model_name.human.downcase), new_genre_path, class: 'btn btn-primary' %>
