
<div style='color: green'><%= notice %></div>

<%= render 'shared/index_header', mode: 'table' %>

<%= render 'shared/filter_form', filter_model: 'Employee' %>

<%= render 'shared/index_records', mode: 'table' %>

<%= link_to translate('base.new_record', model: Employee.model_name.human.downcase), new_employee_path, class: 'btn btn-primary' %>
