
<div style='color: green'><%= notice %></div>

<%= render 'shared/index_header', mode: 'card' %>

<%= render 'shared/filter_form', filter_model: 'Artist' %>

<%= render 'shared/index_records', mode: 'card' %>

<%= link_to translate('base.new_record', model: Artist.model_name.human.downcase), new_artist_path, class: 'btn btn-primary' %>
