
<div style='color: green'><%= notice %></div>

<div class='d-flex justify-content-between align-items-center'>
  <h1 class='mb-0'>Artists</h1>
  <%= link_to 'New', new_artist_path, class: 'btn btn-primary' %>
</div>

<div id='artists' class='my-4 row row-cols-1 row-cols-sm-2 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 g-4'>
  <% @artists.each do |artist| %>
    <div class='col'>
      <%= render artist %>
    </div>
  <% end %>
</div>

<div class='pagination'>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>

<%= link_to 'New artist', new_artist_path %>
