<%= form_with(model: invoice) do |form| %>
  <% if invoice.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :customer_id, style: "display: block" %>
    <%= form.text_field :customer_id %>
  </div>

  <div>
    <%= form.label :invoice_date, style: "display: block" %>
    <%= form.datetime_field :invoice_date %>
  </div>

  <div>
    <%= form.label :billing_address, style: "display: block" %>
    <%= form.text_field :billing_address %>
  </div>

  <div>
    <%= form.label :billing_city, style: "display: block" %>
    <%= form.text_field :billing_city %>
  </div>

  <div>
    <%= form.label :billing_state, style: "display: block" %>
    <%= form.text_field :billing_state %>
  </div>

  <div>
    <%= form.label :billing_country, style: "display: block" %>
    <%= form.text_field :billing_country %>
  </div>

  <div>
    <%= form.label :billing_postal_code, style: "display: block" %>
    <%= form.text_field :billing_postal_code %>
  </div>

  <div>
    <%= form.label :total, style: "display: block" %>
    <%= form.number_field :total %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
