<style>
  .invoices-table {
    min-height: 300px;
  }
  .invoice-customer {
    min-width: 200px;
  }
  .invoice-billing-address {
    min-width: 300px;
  }
</style>

<% turbo_confirm = translate('actions.confirm_destroy', model: Invoice.model_name.human.downcase, count: 1) %>

<div class='mb-4 invoices-table table-responsive'>
  <table class='table table-bordered table-striped table-hover'>
    <thead class='thead-light'>
      <tr>
        <th class='text-nowrap'>
          <%= build_sort_link('id', Invoice) %>
        </th>
        <th class='text-nowrap'>
          <%= build_sort_link('invoice_date', Invoice) %>
        </th>
        <th class='text-nowrap'>
          <%= build_sort_link('customer', Invoice) %>
        </th>
        <th class='text-nowrap'>
          <%= build_sort_link('total', Invoice) %>
        </th>
        <th class='text-nowrap'>
          <%= build_sort_link('billing_address', Invoice) %>
        </th>
        <th class='text-nowrap'><%= Invoice.human_attribute_name('display_invoice_lines_count') %></th>
        <th class='text-center text-nowrap'><%= translate('base.actions') %></th>
      </tr>
    </thead>

    <tbody>
      <% @invoices.each do |invoice| %>
        <tr>
          <td><%= link_to invoice %></td>
          <td><%= link_to invoice.invoice_date, invoice %></td>
          
          <td class='invoice-customer'>
            <div class='dropdown'>
              <button class='btn btn-link text-dark btn-sm dropdown-toggle text-decoration-none px-0'
                type='button' id='dropdownCustomer<%= invoice.id %>'
                data-bs-toggle='dropdown' aria-expanded='false' data-bs-auto-close='outside'>
                <%= invoice.customer&.full_name %>
              </button>
              <ul class='dropdown-menu' aria-labelledby='dropdownCustomer<%= invoice.id %>'>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('company') %>:</strong> <%= invoice.customer&.company %></li>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('address') %>:</strong> <%= invoice.customer&.address %></li>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('city') %>:</strong> <%= invoice.customer&.city %></li>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('state') %>:</strong> <%= invoice.customer&.state %></li>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('country') %>:</strong> <%= invoice.customer&.country %></li>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('phone') %>: </strong> <%= invoice.customer&.phone %></li>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('fax') %>: </strong> <%= invoice.customer&.fax %></li>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('email') %>: </strong> <%= invoice.customer&.email %></li>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('full_name') %>: </strong> <%= invoice.customer&.full_name %></li>
                <li class='px-3 text-nowrap'><strong><%= link_to Customer.human_attribute_name('view_customer'), invoice.customer %></strong></li>
              </ul>
            </div>
          </td>

          <td class='text-nowrap'><%= render_decimal_value(invoice.total) %></td>

          <td class='invoice-billing-address'>
            <div class='dropdown'>
              <button class='btn btn-link text-dark btn-sm dropdown-toggle text-decoration-none px-0'
                type='button' id='dropdownAddress<%= invoice.id %>'
                data-bs-toggle='dropdown' aria-expanded='false' data-bs-auto-close='outside'>
                <%= invoice.billing_address %>
              </button>
              <ul class='dropdown-menu' aria-labelledby='dropdownAddress<%= invoice.id %>'>
                <li class='px-3 text-nowrap'><strong><%= Invoice.human_attribute_name('billing_city') %>: </strong> <%= invoice.billing_city %></li>
                <li class='px-3 text-nowrap'><strong><%= Invoice.human_attribute_name('billing_state') %>: </strong> <%= invoice.billing_state %></li>
                <li class='px-3 text-nowrap'><strong><%= Invoice.human_attribute_name('billing_country') %>: </strong> <%= invoice.billing_country %></li>
                <li class='px-3 text-nowrap'><strong><%= Invoice.human_attribute_name('billing_postal_code') %>: </strong> <%= invoice.billing_postal_code %></li>
                <li class='px-3 text-nowrap'><strong><%= Invoice.human_attribute_name('billing_address') %>: </strong> <%= invoice.billing_address %></li>
              </ul>
            </div>
          </td>

          <td class='text-nowrap'><%= link_to invoice.display_invoice_lines_count, invoice %></td>

          <td class='text-center'>
            <div class='dropdown'>
              <button class='btn btn-secondary btn-sm dropdown-toggle'
                type='button' id='dropdownActions<%= invoice.id %>'
                data-bs-toggle='dropdown' aria-expanded='false'>
                <%= translate('base.actions') %>
              </button>
              <ul class='dropdown-menu' aria-labelledby='dropdownActions<%= invoice.id %>'>
                <li>
                  <%= link_to invoice, class: 'dropdown-item' do %>
                    <i class='bi bi-eye'></i> <%= translate('actions.view') %>
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_invoice_path(invoice), class: 'dropdown-item text-warning' do %>
                    <i class='bi bi-pencil'></i> <%= translate('actions.edit') %>
                  <% end %>
                </li>
                <li>
                  <%= link_to invoice, method: :delete,
                    data: { turbo_method: 'delete', turbo_confirm: turbo_confirm },
                    class: 'dropdown-item text-danger' do %>
                    <i class='bi bi-trash'></i> <%= translate('actions.delete') %>
                  <% end %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
