
<div style='color: green'><%= notice %></div>

<%= render 'shared/index_header', mode: 'card' %>

<%= render 'shared/filter_form', filter_model: 'MediaType' %>

<%= render 'shared/index_records', mode: 'card' %>

<%= link_to translate('base.new_record', model: MediaType.model_name.human.downcase), new_media_type_path, class: 'btn btn-primary' %>
