<%
  display_mode = defined?(locals) ? locals[:mode] : (defined?(mode) ? mode : 'card')
  model_name = controller_name.classify.constantize.model_name.human.pluralize(I18n.locale)
%>

<div id='<%= controller_name %>' class='py-4'>
  <% if @pagy.count.zero? %>
    <div class='alert alert-warning' role='alert'>
      <%= translate('base.no_records_found', model: model_name.downcase) %>
    </div>
  <% else %>
    <% if display_mode == 'table' %>
      <%= render "#{controller_name}/table" %>
    <% else %>
      <div class='mb-4 row row-cols-1 row-cols-sm-2 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 g-4'>
        <% instance_variable_get("@#{controller_name}").each do |record| %>
          <div class='col'>
            <%= render record %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= render 'shared/paging' %>
  <% end %>
</div>
