<%
  display_mode = defined?(locals) ? locals[:mode] : (defined?(mode) ? mode : 'card')
%>

<div class='d-flex justify-content-between align-items-center'>
  <div>
    <h1 class='d-inline mb-0'><%= controller_name.classify.constantize.model_name.human.pluralize(I18n.locale) %></h1>
    <span class='text-muted'>(
      <%= @filters.present? ? translate('base.filtered') : translate('base.all') %>
      <%= pluralize(@pagy.count, translate('base.record')) %>
    )</span>
  </div>
  <div>
    <%= link_to translate('actions.create_new'), new_polymorphic_path(controller_name.singularize), class: 'btn btn-primary' %>
    <button class='btn btn-dark' type='button'
      data-bs-toggle='offcanvas' data-bs-target='#display-settings'
      aria-controls='display-settings'>
        <i class='bi bi-gear'></i>
        <span class='visually-hidden'><%= translate('base.display_settings') %></span>
    </button>
  </div>
</div>

<%= render 'shared/display_settings', mode: display_mode %>
