<style>
  .customer-company {
    min-width: 200px;
  }
  .customer-address {
    min-width: 300px;
  }
  .customers-table {
    min-height: 300px;
  }
</style>

<% turbo_confirm = translate('actions.confirm_destroy', model: Customer.model_name.human.downcase, count: 1) %>

<div class='mb-4 customers-table table-responsive'>
  <table class='table table-bordered table-striped table-hover'>
    <thead class='thead-light'>
      <tr>
        <th colspan='2' class='text-center'><%= Customer.human_attribute_name('personal_information') %></th>
        <th class='text-center'><%= Customer.human_attribute_name('address') %></th>
        <th colspan='2' class='text-center'><%= Customer.human_attribute_name('contact_information') %></th>
        <th colspan='3' class='text-center'><%= Customer.human_attribute_name('other_information') %></th>
        <th></th>
      </tr>
      <tr>
        <th class='text-nowrap'>
          <%= build_sort_link('first_name', Customer) %>
        </th>
        <th class='text-nowrap'>
          <%= build_sort_link('last_name', Customer) %>
        </th>
        <th class='text-nowrap'>
          <%= build_sort_link('address', Customer) %>
        </th>
        <th class='text-nowrap'>
          <%= build_sort_link('phone', Customer) %>
        </th>
        <th class='text-nowrap'>
          <%= build_sort_link('email', Customer) %>
        </th>
        <th class='text-nowrap'>
          <%= build_sort_link('support_rep', Customer) %>
        </th>
        <th class='text-nowrap'><%= Customer.human_attribute_name('display_invoices_count') %></th>
        <th class='text-nowrap'><%= Customer.human_attribute_name('company_timestamp') %></th>
        <th class='text-center text-nowrap'><%= translate('base.actions') %></th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= link_to customer.first_name, customer %></td>
          <td><%= link_to customer.last_name, customer %></td>

          <td class='customer-address'>
            <div class='dropdown'>
              <button class='btn btn-link text-dark btn-sm dropdown-toggle text-decoration-none px-0'
                type='button' id='dropdownAddress<%= customer.id %>'
                data-bs-toggle='dropdown' aria-expanded='false' data-bs-auto-close='outside'>
                <%= customer.address %>
              </button>
              <ul class='dropdown-menu' aria-labelledby='dropdownAddress<%= customer.id %>'>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('state') %>:</strong> <%= customer.state %></li>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('city') %>:</strong> <%= customer.city %></li>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('postal_code') %>:</strong> <%= customer.postal_code %></li>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('country') %>:</strong> <%= customer.country %></li>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('address') %>:</strong> <%= customer.address %></li>
              </ul>
            </div>
          </td>

          <td>
            <div class='dropdown'>
              <button class='btn btn-link text-dark btn-sm dropdown-toggle text-decoration-none px-0'
                type='button' id='dropdownPhone<%= customer.id %>'
                data-bs-toggle='dropdown' aria-expanded='false' data-bs-auto-close='outside'>
                <%= customer.phone %>
              </button>
              <ul class='dropdown-menu' aria-labelledby='dropdownPhone<%= customer.id %>'>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('fax') %>:</strong> <%= customer.fax %></li>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('phone') %>:</strong> <%= customer.phone %></li>
              </ul>
            </div>
          </td>
          <td><%= customer.email %></td>
          <td class='text-nowrap'><%= customer.support_rep&.full_name %></td>
          <td class='text-nowrap'><%= link_to customer.display_invoices_count, customer %></td>
          <td>
            <div class='dropdown'>
              <button class='btn btn-link text-dark btn-sm dropdown-toggle text-decoration-none px-0'
                type='button' id='dropdownOtherInfo<%= customer.id %>'
                data-bs-toggle='dropdown' aria-expanded='false' data-bs-auto-close='outside'>
                <%= Customer.human_attribute_name('company') %>: <%= customer.company %>
              </button>
              <ul class='dropdown-menu' aria-labelledby='dropdownOtherInfo<%= customer.id %>'>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('company') %>:</strong> <%= customer.company %></li>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('created_at') %>:</strong> <%= customer.created_at %></li>
                <li class='px-3 text-nowrap'><strong><%= Customer.human_attribute_name('updated_at') %>:</strong> <%= customer.updated_at %></li>
                <li class='px-3 text-nowrap'><strong><%= link_to Customer.human_attribute_name('view_customer'), customer %></strong></li>
              </ul>
            </div>
          </td>

          <td class='text-center'>
            <div class='dropdown'>
              <button class='btn btn-secondary btn-sm dropdown-toggle'
                type='button' id='dropdownActions<%= customer.id %>'
                data-bs-toggle='dropdown' aria-expanded='false'>
                <%= translate('base.actions') %>
              </button>
              <ul class='dropdown-menu' aria-labelledby='dropdownActions<%= customer.id %>'>
                <li>
                  <%= link_to customer, class: 'dropdown-item' do %>
                    <i class='bi bi-eye'></i> <%= translate('actions.view') %>
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_customer_path(customer), class: 'dropdown-item text-warning' do %>
                    <i class='bi bi-pencil'></i> <%= translate('actions.edit') %>
                  <% end %>
                </li>
                <li>
                  <%= link_to customer, method: :delete,
                    data: { turbo_method: 'delete',
                      turbo_confirm: turbo_confirm },
                    class: 'dropdown-item text-danger' do %>
                    <i class='bi bi-trash'></i> <%= translate('actions.delete') %>
                  <% end %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
