
<div style='color: green'><%= notice %></div>

<%= render 'shared/index_header', mode: 'table' %>

<%= render 'shared/filter_form', filter_model: 'Customer' %>

<%= render 'shared/index_records', mode: 'table' %>

<%= link_to translate('base.new_record', model: Customer.model_name.human.downcase), new_customer_path, class: 'btn btn-primary' %>
