<style>
  .invoice-lines-table {
    min-height: 300px;
  }
  .track-name {
    min-width: 300px;
  }
</style>

<% turbo_confirm = translate('actions.confirm_destroy', model: InvoiceLine.model_name.human.downcase, count: 1) %>

<div class='mb-4 invoice-lines-table table-responsive'>
  <table class='table table-bordered table-striped table-hover'>
    <thead class='thead-light'>
      <tr>
        <th class='text-nowrap'>
          <%= build_sort_link('id', InvoiceLine) %>
        </th>
        <th class='text-nowrap'>
          <%= build_sort_link('invoice_id', InvoiceLine) %>
        </th>
        <th class='text-nowrap'>
          <%= build_sort_link('track', InvoiceLine) %>
        </th>
        <th class='text-nowrap'>
          <%= build_sort_link('total_price', InvoiceLine) %>
        </th>
        <th class='text-center text-nowrap'><%= translate('base.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @invoice_lines.each do |invoice_line| %>
        <tr>
          <td>
            <%= link_to invoice_line %>
          </td>
          <td>
            <div class='dropdown'>
              <button class='btn btn-link text-dark btn-sm dropdown-toggle text-decoration-none px-0'
                type='button' id='dropdownInvoice<%= "#{invoice_line.id}" %>'
                data-bs-toggle='dropdown' aria-expanded='false' data-bs-auto-close='outside'>
                <%= invoice_line.invoice.to_s %>
              </button>
              <ul class='dropdown-menu' aria-labelledby='dropdownInvoice<%= "#{invoice_line.id}" %>'>
                <li class='px-3 text-nowrap'><strong><%= InvoiceLine.human_attribute_name('invoice_id') %>:</strong> <%= invoice_line.invoice_id %></li>
                <li class='px-3 text-nowrap'><strong><%= InvoiceLine.human_attribute_name('customer') %>: </strong> <%= invoice_line.invoice&.customer&.full_name %></li>
                <li class='px-3 text-nowrap'><strong><%= link_to InvoiceLine.human_attribute_name('view_invoice'), invoice_line.invoice %></strong></li>
              </ul>
            </div>
          </td>
          <td class='track-name'>
            <div class='dropdown'>
              <button class='btn btn-link text-dark btn-sm dropdown-toggle text-decoration-none px-0'
                type='button' id='dropdownTrack<%= "#{invoice_line.id}" %>'
                data-bs-toggle='dropdown' aria-expanded='false' data-bs-auto-close='outside'>
                <%= invoice_line.track&.name %>
              </button>
              <ul class='dropdown-menu' aria-labelledby='dropdownTrack<%= "#{invoice_line.id}-#{invoice_line.track_id}" %>'>
                <li class='px-3 text-nowrap'><strong><%= InvoiceLine.human_attribute_name('track') %>:</strong> <%= invoice_line.track&.name %></li>
                <li class='px-3 text-nowrap'><strong><%= Track.human_attribute_name('artist') %>:</strong> <%= invoice_line.track&.album&.artist&.name %></li>
                <li class='px-3 text-nowrap'><strong><%= Track.human_attribute_name('album') %>:</strong> <%= invoice_line.track&.album&.title %></li>
                <li class='px-3 text-nowrap'><strong><%= Track.human_attribute_name('genre') %>:</strong> <%= invoice_line.track&.genre&.name %></li>
                <li class='px-3 text-nowrap'><strong><%= Track.human_attribute_name('media_type') %>:</strong> <%= invoice_line.track&.media_type&.name %></li>
                <li class='px-3 text-nowrap'><strong><%= Track.human_attribute_name('composer') %>:</strong> <%= invoice_line.track&.composer %></li>
                <li class='px-3 text-nowrap'><strong><%= link_to InvoiceLine.human_attribute_name('view_track'), invoice_line.track %></strong></li>
              </ul>
            </div>
          </td>
          <td>
            <div class='dropdown'>
              <button class='btn btn-link text-dark btn-sm dropdown-toggle text-decoration-none px-0'
                type='button' id='dropdownTotal<%= "#{invoice_line.id}" %>'
                data-bs-toggle='dropdown' aria-expanded='false' data-bs-auto-close='outside'>
                <%= render_decimal_value(invoice_line.total_price) %>
              </button>
              <ul class='dropdown-menu' aria-labelledby='dropdownTotal<%= "#{invoice_line.id}" %>'>
                <li class='px-3 text-nowrap'><strong><%= InvoiceLine.human_attribute_name('quantity') %>:</strong> <%= invoice_line.quantity %></li>
                <li class='px-3 text-nowrap'><strong><%= InvoiceLine.human_attribute_name('unit_price') %>:</strong> <%= invoice_line.unit_price %></li>
                <li class='px-3 text-nowrap'><strong><%= InvoiceLine.human_attribute_name('total_price') %>:</strong> <%= render_decimal_value(invoice_line.total_price) %></li>
                <li class='px-3 text-nowrap'><strong><%= link_to InvoiceLine.human_attribute_name('view_invoice_line'), invoice_line %></strong></li>
              </ul>
            </div>
          </td>
          <td class='text-center'>
            <div class='dropdown'>
              <button class='btn btn-secondary btn-sm dropdown-toggle'
                type='button' id='dropdownActions<%= invoice_line.id %>'
                data-bs-toggle='dropdown' aria-expanded='false'>
                <%= translate('base.actions') %>
              </button>
              <ul class='dropdown-menu' aria-labelledby='dropdownActions<%= invoice_line.id %>'>
                <li>
                  <%= link_to invoice_line, class: 'dropdown-item' do %>
                    <i class='bi bi-eye'></i> <%= translate('actions.view') %>
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_invoice_line_path(invoice_line), class: 'dropdown-item text-warning' do %>
                    <i class='bi bi-pencil'></i> <%= translate('actions.edit') %>
                  <% end %>
                </li>
                <li>
                  <%= link_to invoice_line, method: :delete,
                    data: { turbo_method: 'delete', turbo_confirm: turbo_confirm },
                    class: 'dropdown-item text-danger' do %>
                    <i class='bi bi-trash'></i> <%= translate('actions.delete') %>
                  <% end %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
