<p style="color: green"><%= notice %></p>

<%= render @invoice_line %>

<div>
  <%= link_to "Edit this invoice line", edit_invoice_line_path(@invoice_line) %> |
  <%= link_to "Back to invoice lines", invoice_lines_path %>

  <%= button_to "Destroy this invoice line", @invoice_line, method: :delete %>
</div>
