<%= render 'shared/display_record', record: album do %>
  <p><strong>Artist:</strong> <%= link_to album.artist.name, album.artist %></p>
  <p><strong>Tracks Count:</strong> <%= album.tracks_count ? album.tracks_count : album.tracks.count %></p>
  <p><strong>Created at:</strong> <%= album.created_at %></p>
  <p><strong>Updated at:</strong> <%= album.updated_at %></p>
<% end %>
