
<div style='color: green'><%= notice %></div>

<div class='d-flex justify-content-between align-items-center'>
  <h1 class='mb-0'>Albums</h1>
  <%= link_to 'New', new_album_path, class: 'btn btn-primary' %>
</div>

<div class='card'>
  <div class='card-body'>
    <h5>Add search fields</h5>
    <div id='filter-control' data-controller='choices'>
      <%= select_tag 'search_template',
        options_for_select(search_fields_for_select, params[:search]),
        data: { 'choices-target': 'select', placeholder: 'Choose a filter' } %>
    </div>
  </div>
</div>

<%= form_with url: albums_path, method: :get, local: true do |f| %>
  <div>
    <%= f.label :title, "Album title" %>
    <%= f.text_field :title, value: params[:title] %>
  </div>

  <div>
    <%= f.label :artist_name, "Artist name" %>
    <%= f.text_field :artist_name, value: params[:artist_name] %>
  </div>

  <div>
    <%= f.submit "Search", class: 'btn btn-primary' %>
  </div>
<% end %>

<div id='albums' class='my-4 row row-cols-1 row-cols-sm-2 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 g-4'>
  <% @albums.each do |album| %>
    <div class='col'>
      <%= render album %>
    </div>
  <% end %>
</div>

<div class='pagination'>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>

<%= link_to 'New album', new_album_path %>

<script>
function waitForStimulus(callback) {
  if (window.Stimulus) {
    if (callback) callback();
  } else {
    setTimeout(function() {
      waitForStimulus(callback);
    }, 100)
  }
}

waitForStimulus(function() {
  const select = document.querySelector('#filter-control select');
  select.addEventListener('change', function() {
    console.log('change', this, this.value);
  });
});
</script>
