
<div style='color: green'><%= notice %></div>

<div class='d-flex justify-content-between align-items-center'>
  <h1 class='mb-0'>Albums</h1>
  <%= link_to 'New', new_album_path, class: 'btn btn-primary' %>
</div>

<%= render 'shared/filter_form', filter_model: 'Album' %>

<% if @albums.empty? %>
  <div class='my-4 alert alert-warning' role='alert'>
    No albums found
  </div>
<% else %>
  <div id='albums' class='my-4 row row-cols-1 row-cols-sm-2 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 g-4'>
    <% @albums.each do |album| %>
      <div class='col'>
        <%= render album %>
      </div>
    <% end %>
  </div>

  <div class='pagination'>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>

<%= link_to 'New album', new_album_path %>
