<div id='<%= dom_id(playlist) %>' class='card'>
  <div class='card-header'>
    <%= link_to playlist.name, playlist %>
  </div>
  
  <div class='card-body'>
    <h4 class='card-title'>More info</h4>

    <p><strong>Tracks Count:</strong> <%= playlist.tracks_count ? playlist.tracks_count : playlist.tracks.count %></p>
    <p><strong>Created at:</strong> <%= playlist.created_at %></p>
    <p><strong>Updated at:</strong> <%= playlist.updated_at %></p>
  </div>

  <div class='card-footer text-body-secondary'>
    <%= link_to 'Show this playlist', playlist %>
  </div>
</div>
