<nav class='navbar navbar-expand-md navbar-dark sticky-top bg-secondary'>
  <div class='container-fluid'>
    <div class='navbar-brand d-flex justify-content-center align-items-center me-4'>
      <%= link_to root_path, class: 'text-white text-decoration-none' do %>
        Rails v7<br/>Chinook
      <% end %>
      <%= image_tag('/favicon.png', alt: 'Rails', class: 'ms-2', width: '50', height: '50') %>
    </div>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse'
      data-bs-target='#header-nav' aria-controls='header-nav' aria-expanded='true'
      aria-label='<%= translate("actions.toggle_navigation") %>'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='navbar-collapse flex-wrap justify-content-center justify-content-xl-between collapse show' id='header-nav' style=''>
      <%= render 'layouts/menus' %>
      <form class='d-flex justify-content-center' role='search'>
        <input class='form-control me-2' type='search' name='q'
          placeholder='<%= translate("base.search_placeholder") %>'
          aria-label='<%= translate("base.search_label") %>'>
        <button class='btn btn-outline-light' type='submit'><%= translate('actions.search') %></button>
      </form>
    </div>
  </div>
</nav>
